* {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif, serif;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: 1000;
  font-size: 20px;
}

body > * {
  padding: 24px;
}

.description,
.error {
  margin-top: 8px;
  font-size: 0.8rem;
}

.error {
  color: red;
}

input,
button {
  line-height: 1.2;
  font-size: inherit;
}
